

h1 {

   text-align: center;
  
}


p {

    text-align: justify;

    text-indent: 1.5em;

    margin-top: 1ex;

    margin-bottom: 1ex;

}

div.aforismo {

/* El margen arriba de 0.3ex es para mantener el interlineado	

width: 70%;  lo he puesto yo para el oráculo

 */

margin-top: 0.3ex; margin-bottom: 0em;
	
width: 75%;


}

span.marginalia {

    display: block; width: 22%; float: right; clear: right;

    margin-bottom: 0.5ex; margin-top: 0.5ex; padding-left: 1em;

    font-size: 50%;  font-style: normal; font-weight: normal;

    text-align: center; text-indent: 0;
}

.marginalia img {
	width: 100%;     /*el % para ajustarlo al tamaño del span*/ 
		
	
}

.maxima {   /*para hacer un 'indice de maximas darles un "class". Se aprovecha y se le pone cursiva*/ 

	
font-style: italic;  

}

div.encabezado {

font-family:Georgia, serif; 

text-align:center ;

color:#913005; 

border-bottom:1px dotted #913005; /* ADE no muestra lineas dotted */

margin:0 0 1em 1ex; 

font-size: 70%;


}  


div.apartado { 

font-size:1em; font-weight:bold; font-variant:small-caps; 

margin:0 0 1em 0;} /* ADE no muestra small-caps */


p.capital:first-letter { 
float:left; 
margin:0 3px 0 0; 
font-size:3.2em;  
font-family: Georgia, serif;
line-height:0.6em;  
color:#913005; 
text-indent:0em;
}  /*de esta manera se ve bien en Firefox,Safari&Chrome*/


#capital {
text-indent:0em; /* Si se pone en la clase, no lo coge porque toma el p. principal */}


div.footnote {

    text-align: justify; text-indent: -1.5em;
    margin-left: 1.5em; margin-top: 1ex; margin-bottom: 1ex;

}



div.footnotes {

    margin-left: 0em; margin-right: 0em; margin-top: 5ex; margin-bottom: 3ex;

    font-size: 90%

}



.footnoteref {font-size: 80%; font-weight: bold;}


